.featuredBlog {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	width: 553px;
}

.featuredLabel {
	font-weight: bold;
	color: green;
}

.title {
	font-weight: 600;
	font-size: 32px;
	letter-spacing: -0.05em;
	color: #000;
	width: 340px;
	margin-top: 20px;
}

.subtitle {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.05em;
	color: #000;
	margin-top: 8px;
	margin-bottom: 20px;
	opacity: 0.5;
}

.info {
	display: flex;
	gap: 25px;
	color: #888;
	margin-bottom: 20px;
	align-items: center;
}

.author {
	font-weight: bold;
}

.imagePlaceholder {
	border-radius: 24px;
	width: 553px;
	height: 246px;
	background-color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.socials {
	display: flex;
	gap: 10px;
	align-items: center;
}

.socialIcons span {
	background-color: #ddd;
	padding: 5px 10px;
	border-radius: 50%;
}

.timeText {
	font-weight: 500;
	font-size: 12px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #000;
	opacity: 0.4;
}